html{
    overflow-x: hidden;
}

.navbar{
    margin: 0;
    padding-right: 50px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    width: 100%;
    height: 15vh;
   
}

.navbar #logo{
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
}

.navbar-nav li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav li:hover{
    text-decoration: line-through;
}

.vid{
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

#myVideo{
    display: block;
    position:relative;
    width: 100%;
}

#exp .blackbg{

    display: block;
    position: relative;
    width: 100%;
    top:0;
    background-color: #000000;
    margin-top: 0;
    border: 0;
    padding: 0;
    height: 50vh;
}

#exp .blackbg #num{
    display: block;
    position: relative;
    top: 2.9em;
    left:  3.4em;
    padding: 0.3px;
    margin-bottom: 2px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

#exp .blackbg #desc{
    display: block;
    position: relative;
    top: 2.9em;
    left:  1.8em;
    padding: 0.3px;
    margin-bottom: 2px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

#exp .blackbg #num.effect-box:after, #num.effect-box:before{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#exp .blackbg #desc:hover, #num:hover, #iconper:hover, #descper:hover, #iconteach:hover, #descteach:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}


@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

#exp .blackbg #iconper{
    border-radius: 40%;
    position: relative;
    left: 40em;
    display: flex;
}

#exp .blackbg #descper{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    top: 0em;
    left: 10.5em;
    display: block;
    position: relative;
    display: flex;
}

#exp .blackbg #iconteach{
    top: -10em;
    border-radius: 45%;
    position: relative;
    left: 70em;
    display: flex;
}

#exp .blackbg #descteach{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    top: -2.9em;
    left: 19em;
    display: block;
    position: relative;
    display: flex;
}

.aboutus{
    background-image: url(images/team1.jpg);
    position: relative;
    display: block;
    background-color: #000000cf;
    height: 100vh;
    width: 100%;;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.8;
}

.aboutus h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    position: relative;
    color: rgb(255, 255, 255);
    top: 1.5em;
    left: 8.5em;
    z-index: 10;
}


.aboutus p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
    text-decoration:wavy;
    position: relative;
    text-align: justify;
    margin-top: 3.5em;
    margin-left: 7.5em;
    width: 18em;
    height: 5em;
}


.service{
    position: relative;
    width: 100%;
    height: 125vh;
    background: linear-gradient(to bottom,#000000a5,#000000);
}

.service h3{
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.5em;
    top: 2.4em;
    text-align: center;
    color: #ffffff;
}
.blackbox{
    width: 346px;
    height: 629px;
    opacity: 0.70;
    border-radius: 60px;
    background-color: white;
}

#free{
    position: relative;
    top: 20em;
    left: 3em;
    background-image: url('images/basic.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#threemonths{
    position: relative;
    top: -22em;
    margin-left: 35em;
    background-image: url('images/premium.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#sixmonths{
    position: relative;
    top: -58.5em;
    margin-left: 65em;
    background-image: url('images/silver.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#testi{
    position: relative;
    width: auto;
    height: 185vh;
    top:0em;
    background-color: #000000;
}

#testi #headi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    color: #ffffff;
    position: relative;
    top: 4em;
    margin-left: 7em;
}

#testi #quote1{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    position: relative;
    margin-top: -5em;
    margin-left:25em;
    width: 10em;
    height: 5em;
}

#testi #quote2{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    position: relative;
    margin-top: 4em;
    margin-left:29em;
    width: 10em;
    height: 5em;
    opacity: 0.5;
}

#testi #quote3{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    position: relative;
    width: 10em;
    height: 5em;
    margin-top: -11em;
    margin-left:8em;
}

#testi #quote4{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    position: relative;
    margin-top: 5em;
    margin-left:13em;
    width: 10em;
    height: 5em;
    opacity: 0.5;
}

#sponsor{
    position: relative;
    width: auto;
    height: 75vh;
    top:0em;
    background-color: #000000;
}

#sponsor h3{
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    position: relative;
    top: 5em;
    margin-left:17em;
}

#sponsor img{
    position: relative;
    margin-top:15em;
    margin-left: 4em;
    padding: auto;
}

#foot{
    width: 100%;
    height: 15vh;
    background-color: #000;
    border-color: aliceblue;
}

#foot p{
    color: #ffffff;
    position: relative;
    top: 2em;
    left: 10em;
}

#foot #insta{
    position: relative;
    top: -3em;
    left: 70em;
}

#foot #link{
    position: relative;
    top: -3em;
    left: 72em;
}







